/* Susy Setup */
$total-columns: 4;
$column-width: 5em;
$gutter-width: 2em;
$grid-padding: 0;
$container-style: fluid;



@include border-box-sizing;

.page {
	@include container;
	@include susy-grid-background;
}

$alpha: 25em 12;
$beta: 35em 12;

@include at-breakpoint($alpha) {
  .page { @include container; }
}

@include at-breakpoint($beta) {
  .page { @include container;}
}

