.home-page {
	body {
		background: $blue;
	}
	
	header {
		background: $black;
		height: 6.5em;
		background: url("../img/home/nationwide_insurance_logo.png") 10% 18% no-repeat,
					url("../img/home/nationwide_financial_logo.png") 90% 18% no-repeat,
					$black;
		background-size: 35%;
		nav {
			@include horizontal_nav_menu(2em);
			height: 6.5em;
			ul {
				@include clearfix;
				width: 50%;
				margin: 0 auto;
				position: relative;
				top: 5em;
				li {
					width: 33.33%;
					padding: 0;
					a {
						color: $gray;
						line-height: 1;
						text-align: center;
						border-right: 1px solid $gray;
						text-decoration: none;
					}
					&:nth-of-type(2) a {
						border-right: none;
					}
				}				
			}
		}
	}

	@include banner;

	.conference-icons {
		margin-bottom: 3em;
		@include clearfix;
		.icon {
			@include span-columns(4);
 
		}
		img {
			width: 65%;
			height: auto;
			min-width: 150px;
			margin: 0 auto;
			display: block;
		}
		p {
			text-align: center;
			font-size: $font-size * .8;
			color: $blue;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

@include at-breakpoint($alpha) {
	.home-page {
		header {
			height: 9em;
			//nav {
				//ul {
					//float: right;
					//padding: 6em 0 0 0;
					//width: 50%;
					//position: static;
					//li {
						//width: 4em;
						//float: left;
					//}
				//}
			//}
		}
		.conference-icons {
			margin: 3em 5%;
			.icon {
				&:nth-of-type(1) {@include span-columns(6,12);}
				&:nth-of-type(2) {@include span-columns(6 omega,12);}
			}

			img {
				width: 50%;
				min-width: 100px;
			}
		}
	}
}

@include at-breakpoint($beta) {
	.home-page{
		header {
			background: url("../img/home/nationwide_insurance_logo.png") 10% 75% no-repeat,
						url("../img/home/nationwide_financial_logo.png") 29% 75% no-repeat,
						$black;
			background-size: 14%;
			nav {
				ul {
					float: right;
					width: 20em;
					padding: 6em 0 0 4em;
					position: static;
					li {
						width: 3.5em;
						float: left;
					}
				}
			}
		}
		.conference-icons {
			margin: 3em 10%;
			img {
				width: 70%;
			}
		}
	}

}