.lifeu .resources {
	
	header {
		background: $teal;
		nav {
			background: url(../img/lifeu/lifeu_header.png) 50% 50% no-repeat;
			@include at-breakpoint($beta) {
				background-position: 0 50%;
			}
		}
	}

	h2 {
		color: $teal;
	}

	.main-section-content {
		h1 {
			padding: 50px 0 0 4.5em;
			background: url(../img/lifeu/lifeu_resources_icon.png) 0 0 no-repeat;
			display: block;
			height: 70px;
			color: $teal;
			@include at-breakpoint($beta) {
				margin-left: 10.2%;
			}
		}
	}

	footer {
		background: url("../img/home/nationwide_financial_logo.png") 50% 25% no-repeat, $teal;
		@include at-breakpoint($beta) {
			background-position: 37% 17%;
		}
		a {
			font-size: 1.2em;
		}
	}

	@include at-breakpoint($beta) {
	 	@include main-content-text(10);
	}
}