.lifeu {

	header {
		@extend .header;
		background: url(../img/lifeu/lifeu_header.png) 50% 50% no-repeat, $blue;
		@include at-breakpoint($beta) {
			background-position: 10% 50%;
		}
	}

	

	section {

		@include tiles;
		background: url(../img/lifeu/textured_paper.png) repeat, $gray;

		@include with-grid-settings(4,$column-width,$gutter-width,1em) {
			.main-content {
				@include container;
			}
		};

		.mobile-tiles{
			img {
				width: 100%;
				height: auto;
				margin: 0;
				padding: 0;
			}
			@include at-breakpoint($beta) {
				display: none;
			}
		}

		.desktop-tiles {
			div {
				width: 16.66%;
				height: auto;
				background: purple;
				float: left;
				position: relative;
				left: 2px;
			}
		}

		img {
			width: 100%;
			height: auto;
			margin: 0;
			padding: 0;
		}

		> img {
			padding: 2.5em;
		}

	}

	footer {
		@extend .footer;
		background: url("../img/home/nationwide_financial_logo.png") 50% 25% no-repeat, $blue;
		@include at-breakpoint($beta) {
			background-position: 37% 50%;
		}
	}
}