.lifeu .requirements, .lifeu .faq {

	header {
		height: 15em;
	}

	@include nav-menu;
	nav ul {
			padding: 3em 1.5em;
		li {
			float: left;		
		}		
	}

	@include banner;

	@include at-breakpoint($beta) {
	  .slider-wrapper {
	  	@include container;
	  	width: 80%;
	  	margin: 0 auto;
	 	}
	 	@include main-content-text(11);
	}
	
	
	@include main-content;



 .main-section-content { 
	padding: 0 1em;
	@include at-breakpoint($beta) {
		padding: 0 0.5em;
	}

	h1 {
		padding: 50px 0 0 4.5em;
		background: url(../img/lifeu/lifeu_requirements_icon.png) 0 0 no-repeat;
		display: block;
		height: 70px;
	}
	@include at-breakpoint($beta) {
		padding: 0 0.5em;

		h1 {
			margin-left: 9.333%;
		}
	}
 }
}