.lifeu .requirements {

	header {
		height: 15em;
	}

	@include nav-menu;
	nav ul {
			padding: 3em 1.5em;
		li {
			float: left;		
		}		
	}

	@include banner;

	@include at-breakpoint($beta) {
	  .slider-wrapper {
	  	@include container;
	  	width: 80%;
	  	margin: 0 auto;
	 	}
	}
	
	
	@include main-content;



 .main-section-content { 
	padding: 0 1.5em;
 }



	@include at-breakpoint($beta) {
		@include main-content-text(11);
	}

	

}