.lifeu {

	.home {
		@include at-breakpoint($beta) {
			min-width: 1100px;
			max-width: 1150px;
		}
		header {
			height: 15em;
			nav {
				width: 100%;
				height: 15em;
				margin: 0;
				@include at-breakpoint($beta) {
					margin-left: 50px;
				}
			}	
		}

	}

	header {
		@extend .header;
		background: $blue;
		nav {
			margin-left: 5px;
			background: url(../img/lifeu/lifeu_header.png) 35% 35% no-repeat;
			@include at-breakpoint($beta) {
				background-position: 0 50%;
				margin-left: 50px;
			}
		}
	}

	

	section {

		@include tiles;
		background: url(../img/lifeu/textured_paper.png) repeat, $gray;

		@include with-grid-settings(4,$column-width,$gutter-width,1em) {
			.main-content {
				@include container;
			}
		};

		.mobile-tiles{
			img {
				width: 100%;
				height: auto;
				margin: 0;
				padding: 0;
			}
			@include at-breakpoint($beta) {
				display: none;
			}
		}

		.desktop-tiles {
			div {
				//width: 16.66%;
				//height: auto;
				width: 128px;
				height: 128px;
				float: left;
				position: relative;
				left: 2px;
			}

			.requirements-tile-hover {
				background: url("../img/lifeu/homepage_tile_10.png") no-repeat;
				&:hover {
					background: url("../img/lifeu/homepage_tile_10_hover.png") no-repeat;
				}
			}

			.faq-tile-hover {
				background: url("../img/lifeu/homepage_tile_21.png") no-repeat;
				&:hover {
					background: url("../img/lifeu/homepage_tile_21_hover.png") no-repeat;
				}
			}

			.resources-tile-hover {
				background: url("../img/lifeu/homepage_tile_23.png") no-repeat;
				&:hover {
					background: url("../img/lifeu/homepage_tile_23_hover.png") no-repeat;
				}				
			}

			.destination-tile-hover {
				background: url("../img/lifeu/homepage_tile_27.png") no-repeat;
				&:hover {
					background: url("../img/lifeu/homepage_tile_27_hover.png") no-repeat;
				}				
			}

			.contact-tile-hover {
				background: url("../img/lifeu/homepage_tile_28.png") no-repeat;
				&:hover {
					background: url("../img/lifeu/homepage_tile_28_hover.png") no-repeat;
				}				
			}

		}


		img {
			width: 100%;
			height: auto;
			margin: 0;
			padding: 0;
		}

		> img {
			padding: 2.5em;
		}

	}

	footer {
		@extend .footer;
		background: url("../img/home/nationwide_financial_logo.png") 50% 20% no-repeat, $blue;
		@include at-breakpoint($beta) {
			background-position: 35% 17%;
		}
		a {
			font-size: .9em;
		}
	}
}