/*  Header  */

.header {
	height: 10.5em;

}

@mixin tiles {
	.desktop-tiles {
		display: none;
		@include clearfix;
	}
	@include with-grid-settings(8,$column-width,0.25em,$grid-padding) {
	  .mobile-tiles { 
	  	@include container; 
	  	padding-top: 5em;
	  	.left-tiles {
	  		@include prefix(1);
	  		@include span-columns(4,8);
	  		position: relative;
			left: 2px;
	  	}
	  	.right-tiles {
	  		@include suffix(1);
	  		@include span-columns(4 omega,8);
	  	}
	  }
	}
	

	@include at-breakpoint($beta) {
		@include with-grid-settings(8,$column-width,0.25em,$grid-padding) {
		  .desktop-tiles { 
		  	display: block;
		  	@include container; 
		  	padding-top: 5em;
	  		@include pad(1,1);
	  		@include span-columns(8,8);
		  }
		}
	}
}


@mixin nav-menu {
	nav {
			@include clearfix;
			@include horizontal_nav_menu(2);
			ul {
				@include clearfix;
				width: 100%;
				float: right;
				padding-left: 45%;
				margin-top: 8.5em;

				li {
					padding-left: .75em;
					font-size: .8em;
					a {
						color: $gray;
						text-decoration: none;
						text-transform: uppercase;
						&:active, &:hover {
							text-decoration: underline;
						}
					}
					a[href=""] {
						text-decoration: underline;
					}
				}
			}
	}
}

@mixin main-content {
	background: url(../img/lifeu/textured_paper.png) repeat, $gray;
	
	.main-content-wrapper {
		padding: 1.5em 0 3em 0;
	}

	h1 {
		color: $blue;
		font-size: $h1-font-size;
		text-transform: uppercase;
		margin-bottom: 1em;
	}
	h2 {
		color: $blue;
		font-size: $h2-font-size;
		margin-top: .5em;			
	}
	p, li {
		font-size: $p-font-size;
		line-height: 1.25;
		span {
			text-decoration: underline;
		}
	}
	ul {
		padding-left: 1em;
	}

}

@mixin main-content-text($columns) {
	@include with-grid-settings($columns,$column-width,$gutter-width,$grid-padding) {
			.main-content-wrapper {
				@include container;
				//@include susy-grid-background;
			
				.slider-wrapper {
					@include span-columns($columns,$columns);
					@include pad(1,1);
					padding-top: 3em;
				}
				.main-section-content {
					@include clearfix;
				}
				h1 {
					margin-bottom: 1em;
				}
				.column-1-3 {
					@include span-columns(3,$columns);
					@include pre(1);
				}
				.column-2-3 {
					@include span-columns(3,$columns);
				}
				.column-3-3 {
					@include span-columns(3 omega,$columns);
					@include post(1);
				}
				.column-1-2 {
					@include span-columns(4,$columns);
					@include pre(1);
				}
				.column-2-2 {
					@include span-columns(4 omega,$columns);
					@include post(1);
				}
				.column-1-1 {
					@include span-columns(8, $columns);
					@include squish(1,1);
				}
			}
		}
}


.footer {
	height: 8.5em;
	padding-top: 4.5em;

	p {
			text-align: center;
			text-transform: uppercase;
			@include at-breakpoint($beta) {
				display: block;
				position: relative;
				width: 20%;
				left: 50%;
				bottom: 2em;

			}
			a {
				color: $gray;
				text-decoration: none;
				font-size: 1em;
			}
			
		}
}



