$black: #1d1d1d;
$blue: #0081c7;
$gray: #f4f4f4;
$orange: #ff9d00;
$orange-red: #ff2800;
$teal: #00b6b2;
$dark-gray: #676d74; // for LifeU destination page
$orange: #ff9d00;  // for LifeU contact page

$font-size: 1em;

$h1-font-size: 1.2em;
$h2-font-size: .9em;
$p-font-size: .75em;


